$base_clr: #ffffff;
$primary_clr: hsl(22, 98%, 50%);
$primary_clr--hover: hsl(22, 100%, 45%);
$select_padding: 12px;
$third_clr: #ffefe6;
$third_clr--hover: #f3e0d6;
$radius_sm: 0.25rem;
$radius_md: 0.5rem;
$radius_lr: 1rem;
$heading1-fs: 32px;
$heading1-lh: 125%;
$body-fs: 16px;
$body-lh: 150%;
