<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <title>Filter</title>
</head>


<body id="filter">

  <div class="loader">
    <svg xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1_2)">
        <path
          d="M21 10.5C21 17.5 12 23.5 12 23.5C12 23.5 3 17.5 3 10.5C3 8.11305 3.94821 5.82387 5.63604 4.13604C7.32387 2.44821 9.61305 1.5 12 1.5C14.3869 1.5 16.6761 2.44821 18.364 4.13604C20.0518 5.82387 21 8.11305 21 10.5Z"/>
        <path
          d="M12 13.5C13.6569 13.5 15 12.1569 15 10.5C15 8.84315 13.6569 7.5 12 7.5C10.3431 7.5 9 8.84315 9 10.5C9 12.1569 10.3431 13.5 12 13.5Z"/>
      </g>
    </svg>
    <span>Op zoek naar je locatie ...</span>
  </div>

  <figure>
    <img
      src="https://images.unsplash.com/photo-1488707872600-5507977fe355?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
      load= "lazy" alt="">
  </figure>

  <section>
    <% if (user) { %>
      <h1>Welkom: <%- user.username %></h1>
      <% } %>
    <form id="voorkeuren" name="data" id="form" action='/resultaten' method="post">
      <legend>Vul je voorkeur in</legend>
      <div>
        <label for="stad">Stad</label>
        <select required name="stad" id="huizen1">
          <option value="" disabled selected>Kies een stad</option>
        </select>
      </div>
      <div>
        <div>
          <label for="budget">Budget</label>
          <output name="budget"></output>
        </div>
        <input type="range" name="budget" id="budget-slider" id="budget" step="50000" min="150000" max="850000"
          value="350000">
        <div>
          <span>€150.000</span>
          <span>€850.000</span>
        </div>
      </div>
      <input id="submit" type="submit" value="Zoeken">
    </form>

    <% if (user) { %>
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <% } %>

    <!-- Link javascript -->
    <script src="/static/js/slider.min.js"></script>
    <script src="/static/js/script.min.js"></script>


</body>

</html>