<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <title>Rooms</title>
</head>


<body id="index">
  <figure>
    <img
      src="https://images.unsplash.com/photo-1488707872600-5507977fe355?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
      load= "lazy" alt="A house">
  </figure>

  <section>

    <div>
      <p>Rooms is een matching app die jou matcht aan je perfecte huis, door het invoeren van jouw voorkeuren.</p>
      <div>
        <a class="link-button secondary" href="register">account aanmaken</a>
        <a class="link-button" href="login">inloggen</a>
      </div>
    </div>

  </section>

  <!-- Link javascript -->
</body>

</html>